<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bigRedCloudApiSection" type="BigRedCloud.Api.Configuration.BigRedCloudApiSection, BigRedCloud.Api" />
  </configSections>
  <appSettings>
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <bigRedCloudApiSection apiServerUrl="http://akrohmal/brb.api/v1/">
    <apiKeys>
      <apiKey name="key1" value="12ed9509bfa5b301e53b84054fd0f727" isDefault="true" />
      <apiKey name="key2" value="aa6f3240f079d1746816f68d2afeaa6f" />
    </apiKeys>
  </bigRedCloudApiSection>
</configuration>