<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="bigRedCloudApiSection" type="BigRedCloud.Api.Configuration.BigRedCloudApiSection, BigRedCloud.Api" />
  </configSections>
  <appSettings>
    <add key="FinancialYearStart" value="2015-08-01" />
  </appSettings>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <bigRedCloudApiSection apiServerUrl="https://app.bigredcloud.com/api/v1/">
    <apiKeys>
      <apiKey name="key1" value="--- Your Company's API Key here ---" isDefault="true" />
    </apiKeys>
  </bigRedCloudApiSection>
</configuration>